.DS_Store
*.class
*.log
*.swp
*.lock
*.done
*.~$lock
*~
~$*
.classpath
.project
.settings/
classes/
test-classes/
/target/
**/tomcat.8081/*
logs/
.metadata/
target
node_modules/
/.idea/
**/.idea/**
*.iml
*.DS_Store
/target
*___jb_bak___
*___jb_old___
**/bin/**

